modules = ["python-3.11"]
[nix]
packages = ["cargo", "freetype", "glibcLocales", "gumbo", "harfbuzz", "jbig2dec", "lcms2", "libiconv", "libimagequant", "libjpeg", "libjpeg_turbo", "libtiff", "libwebp", "libxcrypt", "mupdf", "openjpeg", "openssl", "pkg-config", "rustc", "swig", "tcl", "tk", "unzipNLS", "xcbuild", "zlib"]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80
